DB_HOST=DB_host
DB_PORT=PORT
DB_USER=USER
DB_PASSWORD=DB_password
DB_NAME=DB_name
EMAIL_HOST=smtpHost
EMAIL_PORT=Port
EMAIL_USER=email@gmail.com
EMAIL_PASS=appPassword
EMAIL_FROM=EventoraX <email@gmail.com>