* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  height: 100%;
  padding: 20px;
  padding-right: 30px;
  border: 1px solid grey;
  background-color: rgb(173, 216, 230, 0.1);
}

.sidebar-main-heading h1 {
  color: #00509d;
  font-weight: bold;
  font-size: 1.4rem;
}

.sidebar-main-heading p {
  font-size: 15px;
  margin-bottom: 30px;
}

.sidebar-menu-items-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.menu-item-icon {
  width: 16px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.menu-item p {
  font-size: 15px;
}

.menu-item:nth-child(7) {
  position: fixed;
  bottom: 120px;
  color: #ffffff;
  background-color: #00509d;
  padding: 10px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid gray;
}

.menu-item:nth-child(7):hover {
  transform: translateY(-3px);
  box-shadow: 0px 0px 6px rgb(0, 80, 157, 0.5);
}

.menu-item:nth-child(8) {
  position: fixed;
  bottom: 80px;
}

.menu-item:nth-child(9) {
  position: fixed;
  bottom: 40px;
  border-radius: 12px;
  padding: 4px 25px 4px 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-item:nth-child(9):hover {
  color: rgb(255, 0, 0, 0.7);
  background-color: rgb(255, 0, 0, 0.1);
}