* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  box-sizing: border-box;
}

main {
  position: relative;
  top: 70px;
  margin-left: 240px;
  padding-top: 50px;
  width: calc(100% - 240px);
  min-height: 100vh;
  background-color: rgb(173, 216, 230, 0.1);
}

.stats-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: -10px;
}

.stats-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
  padding: 20px;
  width: 230px;
  min-height: 120px;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgb(128, 128, 128, 0.9);
}

.stats-box-icon-container {
  background-color: rgb(0, 0, 255, 0.5);
  padding: 5px;
  border-radius: 8px;
}

.stats-card-upper-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 15px;
}

.stats-para-container {
  font-size: 12px;
  color: #007200;
}

.stats-retention-para {
  color: gray;
}

.total-tenants h1 {
  font-size: 30px;
}

.sparkle-icon-container {
  background-color: lightgray;
}

.sparkle-icon {
  color: gray;
}

.timer-icon-container {
  background-color: rgb(153, 88, 42, 0.2);
}

.timer-icon {
  color: #99582a;
}

.stats-expiring-para p {
  color: #99582a;
}

.stats-bank-note-arrow-up-container {
  background-color: lightgray;
}

.bank-note-arrow-up {
  color: rgb(94, 92, 92);
}

.stats-target-para {
  color: #0b460b;
}
