* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.email-editor-container {
    border: 1px solid lightgray;
    flex: 1;
    border-radius: 15px;
    background-color: #ffffff;
}

.email-layout {
    border-right: 1px solid lightgray;
}

.email-editor-container-upper-section {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid lightgray;
}

.email-editor-upper-section-left-container {
    display: flex;
    gap: 20px;
}

.email-editor-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-inline: 6px;
    background-color: rgb(144, 238, 144, 0.5);
    color: green;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}

.email-editor-status-container span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
    margin-right: 6px;
}

.email-editor-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.email-editor-btns-container button {
    color: gray;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 8px;
}

.editor-save-btn-container {
    color: #ffffff;
    background-color: #6c5ce7;
    border: none;
}

.email-editor-main-section-container {
    display: flex;
    padding-left: 15px;
}

.email-editor-subject-line-container {
    padding-top: 12px;
}

.email-editor-subject-line-container input {
    width: 98%;
    outline: none;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 8px;
    font-size: 14px;
}

.email-editor-subject-line-container p {
    color: gray;
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 600;
}


.original-email-container p {
    height: 300px;
    overflow: auto;
}

.original-email-container p {
    border: 1px solid lightgray;
    margin-top: 20px;
    padding: 12px;
    font-size: 14px;
    border-radius: 10px;
    background-color: rgb(211, 211, 211, 0.1);
}
