* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    padding: 40px;
}

.email-preview-upper-content-container {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}

.email-preview-chevron-right-icon {
    margin-inline: 6px;
}

.email-preview-first-para,
.email-preview-chevron-right-icon {
    color: rgb(176, 171, 171);
}

.email-preview-second-para {
    color: gray;
}

.email-preview-lower-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.email-preview-lower-content-btns-container {
    display: flex;
    gap: 10px;
}

.email-preview-lower-content-btns-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.email-preview-back-btn-container,
.email-preview-save-btn-container {
    font-size: 14px;
    border: 1px solid lightgray;
    color: gray;
    padding: 4px 6px;
    border-radius: 6px;
}

.email-preview-send-test-btn-container {
    font-size: 14px;
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 4px 6px;
    border-radius: 6px;
}

.email-preview-para {
    font-size: 28px;
    font-weight: 600;
}

.email-preview-main-content-container {
    display: flex;
    align-items: start;
    gap: 25px;
    margin-top: 30px;
}

.email-preview-main-left-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 270px;
}

.email-preview-main-left-first-content-container {
    border: 1px solid lightgray;
    background-color: #ffffff;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.email-preview-send-test-email-para {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.email-preview-recipient-email-container label {
    color: gray;
    font-size: 12px;
}

.email-preview-recipient-email-container input {
    outline: none;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 14px;
    width: 100%;
    border-radius: 6px;
}

.email-test-subject-container {
    margin-top: 4px;
}

.email-test-subject-container label {
    color: gray;
    font-size: 12px;
}

.email-test-subject-container input {
    outline: none;
    border: 1px solid lightgray;
    padding: 4px;
    width: 100%;
    border-radius: 6px;
    font-size: 14px;
}

.email-send-test-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
    color: #ffffff;
    background-color: #6c5ce7;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    border-radius: 6px;
}

.email-preview-main-left-second-content-container {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
}

.preview-mode-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    padding: 6px;
    border-radius: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.monitor-container,
.smart-phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.preview-icon {
    color: lightgray;
}

.preview-text {
    color: #000000;
}

.preview-mode-para {
    font-size: 14px;
}

.preview-mode-container.active {
    border: 1px solid #6c5ce7;
    background-color: rgb(108, 92, 231, 0.1);
}

.show-icon {
    display: none;
}

.preview-mode-container.active .show-icon {
    display: block;
}

.preview-mode-container.active,
.monitor-container {
    color: #6c5ce7;
}

.preview-mode-container.active,
.smart-phone-container {
    color: #6c5ce7;
}

.preview-mode-container.active .preview-icon {
    color: #6c5ce7;
}

.preview-mode-container.active .preview-text {
    color: #6c5ce7;
}

.email-preview-main-left-third-content-container {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 15px;
    font-size: 13px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.template-info-para {
    margin-bottom: 5px;
    font-weight: 600;
}

.template-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.template-first-para-child {
    color: rgb(164, 161, 161);
}

.template-status-container {
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 238, 144, 0.3);
    padding: 0px 6px;
    border-radius: 10px;
}

.template-status-container span {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: green;
    border-radius: 50%;
    margin-right: 6px;
}

.email-preview-main-right-content-container {
    flex: 1;
    width: 100%;
    height: 600px;
    border: 1px solid lightgray;
    border-radius: 15px;
    overflow: hidden;
}

.email-preview-main-right-upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.email-preview-main-right-upper-btns-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    color: rgb(133, 131, 131);
}

.email-preview-main-right-upper-btns-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 2px 6px;
    background-color: #ffffff;
}

.welcome-email-preview-container {
    font-size: 14px;
    color: gray;
}

.email-preview-main-right-upper-section-colors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.email-preview-main-right-upper-section-colors-container span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
}

.email-preview-main-right-upper-section-colors-container span:first-child {
    background-color: #c1121f;
}

.email-preview-main-right-upper-section-colors-container span:nth-child(2) {
    background-color: #fb8500;
}

.email-preview-main-right-upper-section-colors-container span:nth-child(3) {
    background-color: #38b000;
}

.eventorax-email-box {
    width: 100%;
    height: 100%;
    background-color: rgb(128, 128, 128, 0.2);
    padding-block: 26px;
}

.eventorax-email {
    width: 470px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 6px;
    border: 1px solid #000000;
}